# virtualenv
myenv/

# mytests
mytests/

# production
dist/
build/
*.egg-info/

# for personal use
notes
*.pyc

# web stuff
*.css
*.html
*.jsx

# test config files
configs*
example-pages*

# backups and vscode
*.bak
.vscode
example*


