backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bleach==3.1.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
docutils==0.16
idna==2.8
lesscpy==0.13.0
libsass==0.19.4
pkginfo==1.5.0.1
ply==3.11
Pygments==2.5.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.14.0
soupsieve==1.9.5
tqdm==4.41.1
twine==1.15.0
urllib3==1.25.8
webencodings==0.5.1
